src/main/resources/wsdl/userServiceWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.com/soap/api"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/soap/api"
                  name="UserService">

    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/soap/api">
            <!-- GetUser Request -->
            <xsd:element name="GetUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userId" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- GetUser Response -->
            <xsd:element name="GetUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="user" type="tns:User"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- CreateUser Request -->
            <xsd:element name="CreateUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="firstName" type="xsd:string"/>
                        <xsd:element name="lastName" type="xsd:string"/>
                        <xsd:element name="email" type="xsd:string"/>
                        <xsd:element name="phone" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="birthDate" type="xsd:date"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- CreateUser Response -->
            <xsd:element name="CreateUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean"/>
                        <xsd:element name="message" type="xsd:string"/>
                        <xsd:element name="userId" type="xsd:long" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- User complex type -->
            <xsd:complexType name="User">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:long"/>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                    <xsd:element name="phone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="birthDate" type="xsd:date"/>
                    <xsd:element name="createdAt" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <!-- Messages -->
    <wsdl:message name="GetUserRequest">
        <wsdl:part name="parameters" element="tns:GetUserRequest"/>
    </wsdl:message>
    <wsdl:message name="GetUserResponse">
        <wsdl:part name="parameters" element="tns:GetUserResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateUserRequest">
        <wsdl:part name="parameters" element="tns:CreateUserRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateUserResponse">
        <wsdl:part name="parameters" element="tns:CreateUserResponse"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="UserServicePortType">
        <wsdl:operation name="getUser">
            <wsdl:input message="tns:GetUserRequest"/>
            <wsdl:output message="tns:GetUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <wsdl:input message="tns:CreateUserRequest"/>
            <wsdl:output message="tns:CreateUserResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Binding -->
    <wsdl:binding name="UserServiceSoapBinding" type="tns:UserServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getUser">
            <soap:operation soapAction="http://example.com/soap/api/getUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="createUser">
            <soap:operation soapAction="http://example.com/soap/api/createUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service -->
    <wsdl:service name="UserService">
        <wsdl:port name="UserServicePort" binding="tns:UserServiceSoapBinding">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>